.sprite {
  display: flex;
  margin: auto;
}

.sprite__text {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 15px;
  image-rendering: pixelated;
  position: relative;
  border: 6px double black;
}

.sprite__img {
  width: auto;
}
