.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
  height: calc(100vh);
  scroll-snap-align: start;
  scroll-snap-stop: always;
  flex-shrink: 0;
}

.intro__heading {
  font-family: "Jacquard 12", system-ui;
  font-size: 9rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 0;
}

.intro__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 150px;
  width: 100%;
}

.intro__avatar {
  display: flex;
  justify-content: center;
}

.intro__ps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  text-align: justify;
}

.intro__ps p {
  display: flex;
  margin: 7px 0;
  font-size: 1.8rem;
  line-height: 1.5;
}
