.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 100%;
  gap: 150px;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  flex-shrink: 0;
}

.intro__avatar {
  display: flex;
  justify-content: center;
}

.intro__ps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  text-align: justify;
}

.intro__ps p {
  display: flex;
  margin: 7px 0;
  font-size: 1.8rem;
  line-height: 1.5;
}
