.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
  height: calc(100vh);
  scroll-snap-align: start;
  scroll-snap-stop: always;
  flex-shrink: 0;
}

.intro__heading {
  font-family: "Jacquard 12", system-ui;
  font-size: 9rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 0;
}

.intro__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 150px;
  width: 100%;
}

.intro__avatar {
  display: flex;
  justify-content: center;
}

.intro__ps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  text-align: justify;
}

.intro__ps p {
  display: flex;
  margin: 7px 0;
  font-size: 1.8rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .intro {
    gap: 20px;
    padding: 20px;
  }

  .intro__heading {
    font-size: 4rem;
  }

  .intro__content {
    flex-direction: column;
    gap: 30px;
  }

  .intro__avatar {
    width: 100%;
  }

  .intro__avatar img {
    max-width: 200px;
    width: 100%;
    height: auto;
  }

  .intro__ps {
    max-width: 90%;
    width: 100%;
  }

  .intro__ps p {
    font-size: 1.2rem;
  }
}
