.sections {
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 1400px !important;
  margin: auto;
  align-items: flex-start;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  flex-shrink: 0;
}

.sections-nav {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 100px;
  align-self: flex-start;
  width: 30%;
  min-width: 300px;
  height: fit-content;
  gap: 20px;
}

.sections-nav h2 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  text-align: right;
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.sections-content {
  flex: 1;
  width: 60%;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  scrollbar-width: none;
  scroll-behavior: smooth;
  margin-bottom: 30px;
}

.sections-content::-webkit-scrollbar {
  display: none;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  font-size: 1.5rem;
  gap: 100px;
  padding-top: 200px;
  min-height: 50vh;
}

.section__heading-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 20px 0;
}

.section__heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.section__content {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.tech-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.tech-list__ul {
  list-style: none;
}

.tech-list__ul li {
  margin: 10px 0;
}

.section__projects__project {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section__image {
  width: 100%;
}

@media (max-width: 768px) {
  .sections {
    width: 85vw;
  }

  .sections-content {
    scroll-snap-type: none;
  }

  .section {
    flex-direction: column;
    gap: 30px;
    padding: 25px 0;
    scroll-snap-align: none;
    scroll-snap-stop: normal;
    font-size: 1.2rem;
    margin-top: 0;
  }

  .sections-nav {
    position: relative;
    top: 0;
    width: 100%;
    min-width: unset;
    scroll-snap-align: none;
    scroll-snap-stop: normal;
    padding-top: 10%;
  }

  .sections-nav h2 {
    text-align: left;
    font-size: 3rem;
  }

  .section__content {
    width: 100%;
  }

  .tech-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
}
