* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tiny5", sans-serif;
  text-align: justify;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  font: 1.2rem "Tiny5", sans-serif;
  font-style: normal;
  background-color: #e4e4a9;
}

.container::-webkit-scrollbar {
  display: none;
}

.main-heading {
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  z-index: 100;
  margin: 0;
}
