.App {
  font-family: "Pixelify Sans", sans-serif;
  text-align: center;
  background-color: #e4e4a9;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  font: 1.2rem "Tiny5", sans-serif;
  font-style: normal;
}
